.mainVoto {
   background-color: #FBF9F1; 
   padding-bottom: 50px;
}
/* EFECDE */
.banner {
    background:linear-gradient(0deg,  #FBF9F1, #fcfcfc20, #fcfcfc15), url('./votoBanner.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 310px;
    display: flex;
    flex-direction: column-reverse;
    border-style: hidden;
    border-bottom-color: #001727;
    border-bottom-style: solid;
    border-bottom-width: 2px ;
}

.bannerMesa {
    background:linear-gradient(0deg,  #FBF9F1, #fcfcfc20, #fcfcfc15), url('./mesa.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 310px;
    display: flex;
    flex-direction: column-reverse;
    border-style: hidden;
    border-bottom-color: #001727;
    border-bottom-style: solid;
    border-bottom-width: 2px ;
}

.slideContainer {
    width: 90vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    border-style: hidden;
    border-top-color: #001727;
    border-top-style: solid;
    border-top-width: 4px ;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: 30px;
}

.slide {
    background-color: #C5C2B9;
    padding:15px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 9px;
    margin-right: 9px;
    width: 40vw;
    text-align: center;
    border-radius: 12px;
}

.textosContainer {
    margin: 5vw;
    border-style: hidden;
    border-top-color: #001727;
    border-top-style: solid;
    border-top-width: 15px;
    padding-top: 20px;
}
.textoImgContainer {
    margin: 5vw;
    padding-top: 20px;
}

.textoImgContainerLink {
    padding-top: 20px;
    border-style: hidden;
    border-bottom-color: #001727;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    padding:5vw;
}

.tituloBanner {
    font-size: 1.7rem;
    letter-spacing: .15px;
    font-weight: bold;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 10px;
    background-color: white;
    width: 330px;
    margin-left: 25px;
    font-family: "Regular";
    font-weight: bolder;
}
.titulo {
    font-size: 1.3rem;
    margin-bottom: 5px;
    font-family: "Regular";
    font-weight: bold;
}
.subtitulo {
    font-size: 1.3rem;
    font-family: "Regular";
    font-weight: bold;
}
.contenidoLink{
    padding-bottom: 20px;
    font-size: 1.1rem;
    text-align: justify;
}
.contenido{
    margin-bottom: 20px;
    font-size: 1.1rem;
    text-align: justify;
}
.item{
    margin-bottom: 20px;
    font-size: 1.1rem;
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
}
.divImg{
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}
.imgVoto2 {
    width: 260px;
    height: 180px;
    border-radius: 12px;
    margin-left: auto;
    margin-right: auto;
}
.imgVoto1 {
    width: 320px;
    height: 450px;
    border-radius: 12px;
    margin-left: auto;
    margin-right: auto;
}
.imgSlide2 {
    width: 30px;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
}
/*----------------------------------------------------------fb*/

.fb-comments{
    background-color: #FBF9F1;
}
.comentarioCont{
    height:1000px;
}
.comentario{
    background-color: #FBF9F1;
    padding: 25px;
    height: 800px;
 }
 .fb-comments button{
     background-color:#001727;
 }

 .shareContainer {
    width: 90vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-between;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
    padding-bottom: 40px;
}
.interactionContainer {
    width: 90vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-between;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
}
.compartir{
    display: flex;
    flex-direction: column;
    width:150px;
}

.masContainer {
    width: 100vw;
    padding: 5vw;
    padding-top: 20px;
    background-color: #FBF9F1;
}

.subtituloMas {
    font-size: 1.3rem;
    font-family: "Regular";
    font-weight: bold;
    border-style: hidden;
    border-color:#001727;
    border-bottom-style: solid ;
}

.flex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 260px;
}
.flexShare{
    display: flex;
    flex-direction: row;
    justify-content: left;
    width: 130px;
}
.itemMenu{
    margin-left: 15px;
    margin-bottom: 0%;
    margin-top: 5px;
    font-size: 1.1rem;
}
.itemMenuTitle{
    font-size: 1.1rem;
    text-decoration: underline;
    font-weight: bold;
    height: 25px;
    display: flex;
    flex-direction: row;
}
.imgCompartir{
    width: 25px;
    height: 25px;
    margin-left: 5px;
    margin-top: 3px;
}
.imgItems{
    width: 25px;
    height: 25px;
    margin: 3px;
    margin-top: 5px;
}
.btnLike{
    background-color: #FBF9F1;
    outline: none;
    border-style: hidden;
}
.imgLike{
    width: 35px;
    height: 35px;
}
.divLike{
    display: flex;
    flex-direction: row;
}
.divLikeC{
    display: flex;
    flex-direction: row;
    width: 60px;
}
.divLikeButtons{
    display: flex;
    flex-direction: row;
    line-height: 6px;
    margin-right: 5px;
}
.contador{
    font-size: 1.3rem;
    padding-top: 11px;
    padding-left: 0.5rem;
    font-weight: bold;
}
.imgLikeFace{
    position: relative;
    width: 28px;
    height: 28px;
    top: -12px;
}

.bannerHome {
    background:url('./homeBanner.svg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 300px;
    display: flex;
    flex-direction: column-reverse;
    border-style: hidden;
}

.divCardHome {
    display: flex;
    flex-direction: column;
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    box-shadow: 0 0 10px gray;
    margin-bottom: 35px;
    margin-top: 30px;
}
.cardTituloHome1{
    background:url('./home1.png');
    background-position-x: right;
    background-position-y: bottom;
    background-size: 35%;
    background-repeat: no-repeat;
    width: 90vw;
    height:260px;
    background-color: #FBF9F1;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.cardTituloHome1 h4 {
    font-size: 2rem;
    font-family: 'Quincy';
    font-weight: bold;
    width:50vw;
    margin-right: auto;
    margin-left: auto;
}
.cardImgHome{
    width: 140px;
    height: 80px;
}
.imgDiv{
    display:flex;
    justify-content: left;
    margin-left: 25px;

}
.cardTituloHome2{
    background:url('./home2.png');
    background-position-x: right;
    background-position-y: bottom;
    background-size: 35%;
    background-repeat: no-repeat;
    width: 90vw;
    height:260px;
    background-color: #FBF9F1;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.cardTituloHome2 h4 {
    font-size: 2rem;
    font-family: 'Quincy';
    font-weight: bold;
    width:50vw;
    margin-right: auto;
    margin-left: auto;
}
.cardContentHome {
    width: 90vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    padding: 10px;
    padding-bottom: 20px;
}
.btnTo{
    background-color:#001727;
    color: white;
    outline: none;
    border-style: hidden;
    padding: 12px;
    padding-left: 35px;
    padding-right: 35px;
    border-radius: 10px;
    font-size: 1.25rem;
    margin-top: 30px;
}
.btnToPost{
    background-color: #001727;
    color: white;
    outline: none;
    border-style: hidden;
    padding: 4px;
    font-size: 1.05rem;
    margin-top: 10px;
    width: 100px;
    height: 35px;
    float: right;
    margin-right: 10px;
}
.btnToPost:hover{
    color: #FFFA52;
}
.cardFecha{
    font-size: 0.95rem;
    color: grey;
}
.cardTextoHome{
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 20px;
    padding-bottom: 5px;
}
.cardContenidoHome {
    font-size: 1.25rem;
}
.cardTituloHome{
    font-size: 1.65rem;
    font-weight: bold;
    font-family: 'Regular';
}
.cardFooterHome {
    width: 80vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    padding: 10px;
    padding-bottom: 20px;
}
.btnLikeHome{
    background-color: white;
    outline: none;
    border-style: hidden;
    height:40px;
}
.imgLikeHome{
    width: 40px;
    height: 40px;
}
.imgLikeHomeC{
    width: 28px;
    height: 25px;
}
.divLikeHome{
    display: flex;
    flex-direction: row;
    height: 40px;
    margin-top: 40px;
}
.contadorHome{
    margin-left: 5px;
    font-size: 1.6rem;
    font-weight: bold;
}
.textoInfo {
    margin: 5vw;
    border-style: hidden;
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 1.2rem;
    text-align: justify;
}
.titleTop{
    color: grey;
    font-size: 1.1rem;
    margin-top: 10px;
}
.linkEnd{
    text-decoration: underline;
    font-size: 1.1rem;
    margin-left: 5px;
}
.textEnd{
    text-decoration: none;
    font-size: 1.1rem;
    margin-left: 5px;
    padding-top: 10px;
    font-weight: 500;
}
.textEnd2{
    text-decoration: none;
    font-size: 1.05rem;
    margin-left: 5px;
    padding-top: 10px;
    font-weight: 400;
}
.textosContainerHome {
    margin: 5vw;
    border-style: hidden;
    border-top-color: #001727;
    border-top-style: solid;
    border-top-width: 15px;
    padding-top: 20px;
    padding-bottom: 30px;
}
.titleComentario {
    font-size: 1.3rem;
    font-family: "Regular";
    font-weight: bold;
    margin-bottom: 20px;
    text-align: left;
}
.titleLikes {
    font-size: 1.3rem;
    font-family: "Regular";
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}
hr{
    width:90vw;
    margin-bottom: 50px;
}
/*------------------------footer---------------*/
.footerContainer{
    background-color:#001727;
    padding-top: 20px;
    padding-bottom: 20px;
}
.footer{
    background-color: #001727;
    color:#A4A4A4;
    display: flex;
    flex-direction: column;
    width: 85vw;
    margin-left: auto;
    margin-right: auto;
    font-weight: 350;
}
.imgFooter{
    width: 70px;
    height: 70px;
}
.imgF{
    width: 35px;
    height: 35px;
    margin-left: 5px;
    margin-right: 5px;
}
.footerImgDiv{
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.footerDiv{
    justify-content: left;
    display: flex;
    flex-direction: column;
    text-align: left;
}
.footerDiv a {
    color: #A4A4A4;
    text-decoration: underline;
    margin-bottom: 5px;
}
.footerDiv .linkFooter {
    color: #A4A4A4;
    text-decoration: underline;
    margin-bottom: 5px;
}
.footerDiv span{
    font-weight: bold;
}
.hiddenImg{
    display: none;
}

.linkContainer{
    display: flex;
    flex-direction: row;
    font-size: 1.0rem;
    margin-left: 15px;
}

.linkContainer p{
    margin-left: 5px;
    font-weight: 600;
    text-decoration: underline;
}
.linkContainer a{
    color: black;
}
